* {
    padding: 0;
    margin: 0;
}

.vendorLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #208b1e;
    height: 100vh;
}

.vendorLoginContainer {
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.logintitle {
    font-size: 30px;
    color: #208b1e;
    font-weight: bold;
    margin-bottom: 20px;
}

.vendorlogin-input {
    width: 300px;
    height: 35px;
    margin-bottom: 15px;
    border: 2px solid #208b1e;
    border-radius: 15px;
    padding: 10px;
}

.userLogin-btn {
    width: 150px;
    height: 35px;
    background-color: #208b1e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.dashboard-container {
    height: 100vh;
    display: flex;


}

.side-menu {
    background: #208b1e;
    width: 15%;
    height: fit-content;
    text-align: center;
    padding: 10px;
}

.dash-title {
    font-size: 30px;
    color: white;
    margin-bottom: 25px;
}

.dash-menu-li {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.dash-menu-li:hover {
    color: black;
}

.dashboard-content {
    width: 85%;
    padding: 15px;
}

.content-title {
    font-size: 35px;
    margin-bottom: 15px;
}

.dashb-container {
    padding: 20px;
}

.add-title {
    font-size: 35px;
    color: #208b1e;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-input {
    width: 250px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #208b1e;
    margin: 10px 0;
}

.vendor-add-btn {
    width: 200px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #208b1e;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 35px;
}

.vendor-product {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #208b1e;
}

.product-desc {
    margin: 10px 0;
}

.logOut {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 360px) and (max-width: 1024px) {

    .vendorlogin-input {
        width: 150px;
        height: 35px;
    }

    .side-menu {

        width: 35%;
    }

    .product-input {
        width: 180px;
    }

    .vendor-add-btn {
        width: 180px;
        margin-left: 5px;
    }

    .vendorLoginContainer {
        width: 60%;}
}