.latestProducts {
  margin-bottom: 75px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.product-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Add other slider container styles */
}

.slider-wrapper {
  display: flex;
 
  transition: transform 0.5s ease-in-out;
  /* Add other wrapper styles */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #656FC7;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  /* Add other arrow button styles */
}

.showmore {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  color: #208b1e;
  font-weight: bold;
  border-radius: 10px;
  
  font-size: 20px;
  border-color:#208b1e;
  cursor: pointer;
 
  
}
.show{
  margin-top: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.prev {
  left: 10px;
  /* Adjust as needed */
}

.next {
  right: 10px;
  /* Adjust as needed */
}

@media screen and (min-width: 360px) and (max-width: 1024px) {
  .product-display {
    display: flex;
    flex-direction: column;
  }

  .titleContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .slider-wrapper {
    display: flex;
    flex-direction: column;}
}